

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Content with JavaScript</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" placeholder="İngilizce Kelime" id="engInput" class="input">
            </div>
            <div class="col-sm-4">
                <input type="text" placeholder="Türkçe Kelime" id="trInput" class="input">
            </div>

            <div class="col-sm-2">
                <button class="pushable" onclick="add()">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front">
                        Kaydet
                    </span>
                </button>
            </div>

        </div>
    </div>

@*     <article class="article-wrapper">
        <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                </div>
            </div>
            <div class="types">
                <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• Analytics</span>
                <span class="project-type">• Dashboards</span>
            </div>
        </div>
    </article> *@

    <br />

    <div class="container">
        <div class="row" id="articles-container">
            <!-- Dinamik olarak içerik buraya eklenecek -->
        </div>
    </div>

</body>
</html>